# Byte-compiled / optimized
__pycache__/
*.py[co]

# Distribution / packaging
/dist/
/build/
.eggs
*.egg
*.egg-info

# Unit tests
.tox
.cache
.pytest_cache

# pyenv
.python-version

# Pycharm
.idea/

# virtualenv
venv
polybius/

# Vagrant
.vagrant
Vagrantfile

# Cache files
cache/*

# Backup files
*~

## Mac
# General
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon


# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# Postgres regression output
/regression.diffs
/regression.out
/results/
